*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    font-family: $font-gillsans;
    -webkit-font-smoothing: antialiased;
    -moz-osk-font-smoothing: grayscale;
}

a {
    color: $blue;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      text-decoration: underline;
    }
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
}

ul, li {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

hr {
    border: none;
    height: 1px;
    margin: 15px 0;

}

input[type="text"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
}

.cc-window a {
    border-bottom: 0;
}

table {
    border-collapse: collapse;
}

.cursor--pointer {
    cursor: pointer;
}

p {
   @include text--default;
    font-family: $font-roboto;
}

.muted {
    color: $grey;
}

h4 {
 @include text--large;
}

h5 {
    @include text--medium-large;
}

h6 {
    margin: 10px 0 20px;
    @include text--medium;
    text-align: center;

    @media (max-width: $mobile) {
        margin: 15px 0 30px;
     }
}

.background--grey {
    background-color: $background-grey;
}

.background--blue {
    background-color: $background-blue;
    color: white;

    p {
        color: white;
    }
}

button {
    a {
        text-decoration: none;
        color: inherit;
    }
}
