.header {
    background-color: $blue;
    color: white;
    text-align: center;
    padding: 80px 0 200px 0;
    position: relative;

    @media (max-width: $mobile) {
        padding: 50px 0 ;
    }

    h1 {
      position: relative;
      z-index: 2;
      @include text--extra-large--medium;
      margin-bottom: 30px;
      @media (max-width: $mobile) {
          @include text--extra-large;
          margin-bottom: 10px;
      }
    }

    h3 {
        margin-bottom: 5%;
        @include text--large;
        text-align: left;
        margin-left: 5%;

        @media (max-width: $mobile) {
            @include text--medium-large;
            text-align: center;
        }

        a {
          color: white;

          &:hover {
            text-decoration: none;
            opacity: 0.7;
          }
        }
    }

    .type-wrap {
        span {
            @include text--extra-large;
            font-weight: bold;
        }

    }

    &__bubble__one {
      height: 140px;
      width: 180px;
      right: 4%;
    }

    &__bubble__two {
      height: 70px;
      width: 100px;
      right: 15%;
      top: 60%;
      transform: rotate(180deg) scaleX(-1);
    }

    &__bubble__three {
      height: 200px;
      width: 170px;
      left: 10%;
      top: 50%;
      transform: rotate(180deg);
    }

    &__bubble {
      background-image: url('img/bubble.svg');
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      z-index: 1;

      @media (max-width: $tablet) {
          display: none;
      }
    }
}
