.header {
    background-color: $blue;
    color: white;
    text-align: center;
    padding: 80px 0 200px 0;
    
    h1 {
        @include text--extra-large--medium;
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 5%;
        @include text--medium-large;
        text-align: left;
        margin-left: 5%;

    }
    .type-wrap {
        span {
            @include text--extra-large;
            font-weight: bold;
        }
        
    }
}