.steps {
    padding: 80px 0;

    @media (max-width: $mobile) {
        padding: 50px 0;
    }

    h5 {
        margin: 0 0 20px 0;

    }
    h6 {
        margin:40px 0 20px 0;
    }

    ol {
      font-family: $font-roboto;
      padding-left: 0;
      margin-top: 40px !important;
      margin-bottom: 70px;
      list-style: none;

      > li {
        margin-bottom: 40px;

        > span {
          color: black;
          font-style: italic;
        }
      }

      ul {
        margin: 5px 0;
        padding-left: 40px;
        list-style: disc;

        span.coming-soon {
          padding: 2px 5px;
          border-radius: 3px;
          margin-left: 5px;
          font-size: 13px;
          font-weight: bold;
          background: $green;
          color: white;
        }
      }
    }

    .phases {
        display: flex;
        justify-content: space-around;

        @media (max-width: $tablet) {
            flex-direction: column;
        }
        img {
            width: 80%;
            @media (max-width: $mobile) {
                width: 60%;
            }
        }

        &>div {
            span {
                color: $blue;
                background-color: $blue-light;
                padding: 7px 13px;
                border-radius: 50%;
                margin-bottom: 10px;

            }
            width: 30%;
            text-align: center;
            margin: 10px 0;

            @media (max-width: $tablet) {
                width: 100%;
            }

            @media (max-width: $mobile) {
                width: 100%;
                margin: 50px 0;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 0;
            }

            h5 {
                margin-bottom: 5px;
                font-family: $font-gillsans;
                @include text--default;
                color: $blue;
                text-transform: uppercase;
                font-weight: normal;
            }

            p {
                font-size: $text--size-default;
            }
        }
    }


}
