@font-face {
  font-family: 'Gillsans';
  src: url("./fonts/gillsans-light.eot");
  src: url("./fonts/gillsans-light.eot?#iefix") format("embedded-opentype"), url("./fonts/gillsans-light.woff2") format("woff2"), url("./fonts/gillsans-light.woff") format("woff"), url("./fonts/gillsans-light.ttf") format("truetype"), url("./fonts/gillsans-light.svg#gillsans_lightregular") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("./fonts/gillsans-regular.eot");
  src: url("./fonts/gillsans-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/gillsans-regular.woff2") format("woff2"), url("./fonts/gillsans-regular.woff") format("woff"), url("./fonts/gillsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("./fonts/gillsans-italic.eot");
  src: url("./fonts/gillsans-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/gillsans-italic.woff2") format("woff2"), url("./fonts/gillsans-italic.woff") format("woff"), url("./fonts/gillsans-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Gillsans';
  src: url("./fonts/gillsans-heavy.eot");
  src: url("./fonts/gillsans-heavy.eot?#iefix") format("embedded-opentype"), url("./fonts/gillsans-heavy.woff2") format("woff2"), url("./fonts/gillsans-heavy.woff") format("woff"), url("./fonts/gillsans-heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Gillsans';
  src: url("./fonts/gillsans-heavy-italic.eot");
  src: url("./fonts/gillsans-heavy-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/gillsans-heavy-italic.woff2") format("woff2"), url("./fonts/gillsans-heavy-italic.woff") format("woff"), url("./fonts/gillsans-heavy-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

.l__wrapper--wide {
  width: 90%;
  margin: 0 auto; }

.l__wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.l__wrapper--medium {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.l__wrapper--narrow {
  width: 90%;
  max-width: 850px;
  margin: 0 auto; }

.l__wrapper--slim {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

.l__wrapper--main {
  width: 100%;
  max-width: 800px;
  flex-grow: 1; }
  .l__wrapper--main-right {
    margin-left: 30px; }
  .l__wrapper--main-left {
    margin-right: 30px; }
  @media (max-width: 1000px) {
    .l__wrapper--main {
      order: 2;
      margin: 0; } }

.l__wrapper--aside {
  width: 285px; }

.l__wrapper--600 {
  width: 90%;
  max-width: 600px;
  margin: 0 auto; }

.l__wrapper--500 {
  width: 90%;
  max-width: 500px;
  margin: 0 auto; }

.l__wrapper-300 {
  width: 90%;
  max-width: 300px;
  margin: 0 auto; }

.l__row {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .l__row--wrap {
    flex-wrap: wrap; }
  .l__row--h-stretch {
    justify-content: space-between; }
  .l__row--h-stretch-around {
    justify-content: space-around; }
  .l__row--h-start {
    justify-content: flex-start; }
  .l__row--h-end {
    justify-content: flex-end; }
  .l__row--v-stretch {
    align-items: stretch; }
  .l__row--center {
    justify-content: center; }
  .l__row--top {
    align-items: flex-start; }
  .l__row--middle {
    align-items: center; }
  .l__row--bottom {
    align-items: flex-end; }
  .l__row--top {
    align-items: flex-start; }
  .l__row--pack-center {
    align-content: center; }

.l__col {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .l__col--center {
    align-items: center; }
  .l__col--left {
    align-items: flex-start; }
  .l__col--top {
    justify-content: flex-start; }
  .l__col--middle {
    justify-content: center; }
  .l__col--bottom {
    justify-content: flex-end; }
  .l__col--v-stretch {
    justify-content: space-between; }
  .l__col--grow-1 {
    flex-grow: 1; }
  .l__col--wrap {
    display: inline-flex;
    flex-flow: column wrap;
    max-height: 100%; }
  .l__col--half {
    flex-basis: 50%; }

@media (max-width: 1000px) {
  .l__tablet--col {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .l__tablet--col-center {
      align-items: center; } }

@media (max-width: 650px) {
  .l__mobile--col {
    display: flex;
    flex-direction: column; }
    .l__mobile--col-center {
      align-items: center; } }

@media (max-width: 650px) {
  .l__hide--on-mobile {
    display: none; } }

@media (max-width: 1150px) {
  .l__hide--on-small-laptop {
    display: none; } }

@media (max-width: 1000px) {
  .l__hide--on-tablet {
    display: none !important; } }

@media (min-width: 1151px) {
  .l__hide--above-small-laptop {
    display: none; } }

@media (min-width: 1001px) {
  .l__hide--on-desktop {
    display: none; } }

.space--100-0 {
  padding: 100px 0; }
  @media (max-width: 650px) {
    .space--100-0 {
      padding: 70px 0; } }

.space--60-0 {
  padding: 60px 0; }

.space--60-15 {
  padding: 60px 0 15px; }

.space--45-5 {
  padding: 45px 5px; }

.space--30 {
  padding: 30px; }

.space--30-0 {
  padding: 30px 0; }

.space--35-15 {
  padding: 35px 0 15px; }

.space--20 {
  padding: 20px; }

.space--20-0 {
  padding: 20px 0; }

.space--5-20 {
  padding: 5px 0 20px; }

.space--20-30 {
  padding: 20px 30px; }

.space--10-0 {
  padding: 10px 0; }

.space--10-15 {
  padding: 10px 15px; }

.block {
  display: block; }

.text--breakword {
  overflow-wrap: break-word;
  word-wrap: break-word; }

.text--summary {
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 400; }

.text--body {
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  overflow-wrap: break-word;
  word-wrap: break-word; }

.text--smallest {
  font-size: 12px;
  line-height: 18px; }

.text--small {
  font-size: 14px;
  line-height: 20px; }

.text--medium-small {
  font-size: 20px;
  line-height: 27px; }

.text--medium {
  font-size: 24px;
  line-height: 1.2em; }
  @media (max-width: 650px) {
    .text--medium {
      font-size: 20px;
      line-height: 27px; } }

.text--medium-large {
  font-size: 28px;
  letter-spacing: -0.6px;
  line-height: 32px; }

.text--large {
  font-size: 34px;
  letter-spacing: -0.5px;
  line-height: 38px; }
  @media (max-width: 650px) {
    .text--large {
      font-size: 28px;
      line-height: 1.2em; } }
  @media (max-width: 650px) {
    .text--large {
      font-size: 24px;
      line-height: 1.2em; } }

.text--larger {
  font-size: 44px;
  line-height: 0.93;
  letter-spacing: -1.2px; }
  @media (max-width: 650px) {
    .text--larger {
      font-size: 28px;
      letter-spacing: -0.6px;
      line-height: 32px; } }
  @media (max-width: 650px) {
    .text--larger {
      font-size: 34px;
      letter-spacing: -0.5px;
      line-height: 38px; } }

.text--extra-large {
  font-size: 48px;
  line-height: 1em; }
  @media (max-width: 650px) {
    .text--extra-large {
      font-size: 44px;
      line-height: 0.93;
      letter-spacing: -1.2px; } }
  @media (max-width: 650px) and (max-width: 650px) {
    .text--extra-large {
      font-size: 28px;
      letter-spacing: -0.6px;
      line-height: 32px; } }

.text--logo {
  font-weight: 700;
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
  font-size: 28px;
  font-style: italic;
  line-height: 0.9em;
  margin-right: 10px;
  letter-spacing: -0.7px; }
  @media (max-width: 1000px) {
    .text--logo {
      font-size: 24px; } }
  @media (max-width: 650px) {
    .text--logo {
      font-size: 22px; } }
  .text--logo a {
    border: 0; }

.text--italic {
  font-style: italic; }

.text--normal {
  font-weight: normal; }

.text--bold {
  font-weight: 700; }

.text--half-opacity {
  opacity: 0.5; }

.text--on-white {
  background: white;
  padding: 0 5px; }

.text--blue {
  color: #1D5FD1; }

.text--inline {
  display: inline; }

.text--limited {
  max-width: 500px; }
  .text--limited-extra {
    max-width: 400px; }
  @media (max-width: 650px) {
    .text--limited {
      width: 100%; } }

.text--with-bullet ul {
  padding-left: 40px;
  list-style-type: disc; }

.text--with-bullet li {
  list-style-type: inherit; }

.text--uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px; }

.text--uppercase-wide {
  text-transform: uppercase;
  letter-spacing: 2.5px; }

.text--lowercase {
  text-transform: lowercase; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--right {
  text-align: right; }

.text--block {
  white-space: nowrap; }

.text--margin-right {
  margin-right: 15px; }

.text--shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4); }

.link--white {
  color: white;
  border-color: white; }

.tag {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Roboto", Helvetica, sans-serif; }

.list__links {
  display: flex; }
  .list__links li {
    letter-spacing: 0.3px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 14px; }
    .list__links li h4 {
      font-family: "Gillsans", "Roboto", Helvetica, sans-serif; }
  .list__links .head {
    text-transform: uppercase;
    font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
    letter-spacing: 1.5px; }
  .list__links--default li {
    font-size: 16px; }

.list__links--vertical-align {
  align-items: center; }

.list__links--margin-right li {
  margin-right: 15px; }

.list__links--row {
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .list__links--row-bottom {
    align-items: flex-end; }
  .list__links--row-left {
    justify-content: flex-start; }
  .list__links--row li {
    padding-right: 15px; }
    .list__links--row li:last-child {
      padding: 0; }

.list__links--col {
  flex-direction: column;
  margin-bottom: 15px; }
  .list__links--col li {
    padding-bottom: 4px; }

@media (max-width: 650px) {
  .list__links--col-mobile {
    flex-direction: column;
    margin-bottom: 15px; }
    .list__links--col-mobile li {
      padding: 0 0 4px 0; }
      .list__links--col-mobile li .btn {
        margin-bottom: 6px; } }

.list__links--left {
  justify-content: flex-start; }

.list__links--no-decor a {
  border: none; }

.list__links--svgs li {
  padding-right: 20px; }
  .list__links--svgs li .fa {
    font-size: 38px; }

.list__links--svgs--small li {
  padding-right: 15px; }
  .list__links--svgs--small li .fa {
    font-size: 20px; }

@media (max-width: 650px) {
  .list__links--svgs li,
  .list__links--svgs li:last-child {
    padding-left: 15px;
    padding-right: 15px; }
    .list__links--svgs li .fa,
    .list__links--svgs li:last-child .fa {
      margin-bottom: 10px; }
  .list__links--svgs--small li,
  .list__links--svgs--small li:last-child {
    padding-left: 10px;
    padding-right: 10px; } }

.list__links--nav li {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0; }
  .list__links--nav li .icon-search {
    position: relative;
    top: 4px; }
    @media (max-width: 650px) {
      .list__links--nav li .icon-search {
        top: 1px;
        width: 20px; } }

.list__links--nav.list__links--col li {
  line-height: 2; }

.list__links--subnav li a {
  color: white;
  font-size: 14px; }

.icon--with-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none; }
  .icon--with-text svg,
  .icon--with-text i {
    margin-right: 7px; }
    .icon--with-text svg.fa,
    .icon--with-text i.fa {
      width: 15px;
      text-align: center; }
      .icon--with-text svg.fa--auto,
      .icon--with-text i.fa--auto {
        width: auto; }
  .icon--with-text--reversed svg,
  .icon--with-text--reversed i {
    margin-left: 7px; }

.text--center {
  text-align: center;
  margin: 0 auto;
  display: block; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osk-font-smoothing: grayscale; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 700; }

ul, li {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

hr {
  border: none;
  height: 1px;
  margin: 15px 0; }

input[type="text"],
input[type="submit"],
input[type="email"] {
  -webkit-appearance: none; }

.cc-window a {
  border-bottom: 0; }

table {
  border-collapse: collapse; }

.cursor--pointer {
  cursor: pointer; }

p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Helvetica, sans-serif; }

.muted {
  color: #7F7F7F; }

h4 {
  font-size: 34px;
  letter-spacing: -0.5px;
  line-height: 38px; }
  @media (max-width: 650px) {
    h4 {
      font-size: 28px;
      line-height: 1.2em; } }

h5 {
  font-size: 28px;
  letter-spacing: -0.6px;
  line-height: 32px; }

h6 {
  font-size: 24px;
  line-height: 1.2em; }
  @media (max-width: 650px) {
    h6 {
      font-size: 20px;
      line-height: 27px; } }

.background--grey {
  background-color: #FAFBFC; }

.background--blue {
  background-color: #1D5FD1;
  color: white; }
  .background--blue p {
    color: white; }

button a {
  text-decoration: none;
  color: inherit; }

.header {
  background-color: #1D5FD1;
  color: white;
  text-align: center;
  padding: 80px 0 200px 0; }
  @media (max-width: 650px) {
    .header {
      padding: 30px 0; } }
  .header h1 {
    font-size: 64px;
    letter-spacing: -1.5px;
    line-height: 52px;
    margin-bottom: 30px; }
    @media (max-width: 650px) {
      .header h1 {
        font-size: 48px;
        letter-spacing: -1.5px;
        line-height: 52px;
        margin-bottom: 10px; } }
  @media (max-width: 650px) and (max-width: 1000px) {
    .header h1 {
      font-size: 44px;
      line-height: 0.93;
      letter-spacing: -1.2px; } }
  @media (max-width: 650px) and (max-width: 650px) {
    .header h1 {
      font-size: 34px;
      letter-spacing: -0.5px;
      line-height: 38px; } }
  .header h3 {
    margin-bottom: 5%;
    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 32px;
    text-align: left;
    margin-left: 5%; }
    @media (max-width: 650px) {
      .header h3 {
        font-size: 24px;
        line-height: 1.2em;
        text-align: center; } }
  @media (max-width: 650px) and (max-width: 650px) {
    .header h3 {
      font-size: 20px;
      line-height: 27px; } }
  .header .type-wrap span {
    font-size: 48px;
    letter-spacing: -1.5px;
    line-height: 52px;
    font-weight: bold; }
    @media (max-width: 1000px) {
      .header .type-wrap span {
        font-size: 44px;
        line-height: 0.93;
        letter-spacing: -1.2px; } }
    @media (max-width: 650px) {
      .header .type-wrap span {
        font-size: 34px;
        letter-spacing: -0.5px;
        line-height: 38px; } }

.explanatory {
  padding: 80px 0; }
  @media (max-width: 650px) {
    .explanatory {
      padding: 30px 0; } }
  .explanatory a {
    color: #1D5FD1; }
  .explanatory > div {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .explanatory > div > div > div {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .explanatory > div > div > div span {
        margin: 0 20px;
        color: #1D5FD1;
        background-color: #EBF8FF;
        padding: 7px 15px;
        border-radius: 50%; }

.steps {
  padding: 80px 0; }
  @media (max-width: 650px) {
    .steps {
      padding: 30px 0; } }
  .steps h5 {
    margin: 0 0 20px 0; }
  .steps h6 {
    margin: 40px 0 20px 0; }
  .steps .phases {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 1000px) {
      .steps .phases {
        flex-direction: column; } }
    .steps .phases img {
      width: 80%; }
      @media (max-width: 650px) {
        .steps .phases img {
          width: 60%; } }
    .steps .phases > div {
      width: 30%;
      text-align: center;
      margin: 70px 0; }
      .steps .phases > div span {
        color: #1D5FD1;
        background-color: #EBF8FF;
        padding: 7px 13px;
        border-radius: 50%;
        margin-bottom: 10px; }
      @media (max-width: 1000px) {
        .steps .phases > div {
          width: 100%; } }
      @media (max-width: 650px) {
        .steps .phases > div {
          width: 100%;
          margin: 30px 0; } }
      .steps .phases > div h4 {
        margin-top: 40px;
        margin-bottom: 20px; }
      .steps .phases > div p {
        font-size: 16px; }

.deputies {
  padding: 80px 0; }
  @media (max-width: 650px) {
    .deputies h6 {
      margin: 0 0 20px 0; } }
  @media (max-width: 650px) {
    .deputies {
      padding: 30px 0; } }

.participate {
  padding: 80px 0; }
  .participate em {
    color: #1D5FD1; }
  @media (max-width: 650px) {
    .participate {
      padding: 30px 0; } }
  @media (max-width: 650px) {
    .participate h6 {
      margin: 0 0 20px 0; } }
  .participate > div {
    display: flex;
    justify-content: center;
    flex-direction: row; }
    @media (max-width: 650px) {
      .participate > div {
        flex-direction: column; } }
    .participate > div > div {
      width: 50%; }
      @media (max-width: 650px) {
        .participate > div > div {
          width: 100%; } }
      .participate > div > div p {
        width: 90%; }
        @media (max-width: 650px) {
          .participate > div > div p {
            width: 100%; } }
  .participate h6 {
    margin-bottom: 10px; }
  .participate button {
    text-transform: uppercase;
    color: #1D5FD1;
    padding: 5px 10px;
    border: 1px solid #1D5FD1;
    background-color: white;
    font-size: 14px;
    line-height: 20px;
    cursor: not-allowed;
    margin-top: 10px; }
    @media (max-width: 650px) {
      .participate button {
        width: 100%;
        padding: 20px;
        margin-top: 20px; } }
    .participate button.pink {
      color: white;
      background-color: #FF4D89;
      border: 1px solid #FF4D89;
      transition: all 0.5s;
      margin-top: 30px; }
      @media (max-width: 650px) {
        .participate button.pink {
          width: 100%;
          padding: 20px;
          margin-top: 20px; } }
      .participate button.pink:hover {
        background-color: white;
        color: #FF4D89;
        border: 1px solid #FF4D89;
        transition: all 0.5s;
        cursor: pointer; }
  .participate small {
    color: #42D061;
    font-weight: 500;
    font-family: "Roboto", Helvetica, sans-serif;
    margin-left: 15px; }
    @media (max-width: 650px) {
      .participate small {
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 20px; } }
  .participate img {
    width: 80%;
    margin-top: 30px; }
    @media (max-width: 650px) {
      .participate img {
        width: 100%; } }

.workshop {
  padding: 80px 0;
  text-align: center; }
  @media (max-width: 650px) {
    .workshop {
      padding: 30px 0; } }
  .workshop h4 {
    margin-bottom: 40px; }
  .workshop p {
    margin: 0 auto; }

.chiefs {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 80px 0; }
  @media (max-width: 1000px) {
    .chiefs {
      flex-direction: column;
      padding: 30px 0; } }
  .chiefs img {
    width: 80%;
    position: relative;
    bottom: 0px;
    transition: all 0.3s; }
    @media (max-width: 1000px) {
      .chiefs img {
        margin-top: 30px; } }
    .chiefs img:hover {
      position: relative;
      bottom: 3px;
      transition: all 0.3s;
      cursor: pointer; }
  .chiefs p {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px; }
  .chiefs span {
    width: 70%; }
  .chiefs .blue {
    color: #1D5FD1 !important; }

.workshop {
  padding: 80px 0;
  text-align: center; }
  @media (max-width: 650px) {
    .workshop {
      padding: 30px 0; } }
  .workshop h4 {
    margin-bottom: 40px; }
  .workshop p {
    margin: 0 auto; }

.cta h4, .cta p {
  text-align: left; }

.cta p {
  font-size: 16px; }

.cta > div {
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row; }
  @media (max-width: 650px) {
    .cta > div {
      flex-direction: column;
      padding: 30px 0; } }
  .cta > div > div {
    width: 50%;
    align-items: center;
    text-align: center; }
    @media (max-width: 650px) {
      .cta > div > div {
        width: 100%; } }
    .cta > div > div > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      vertical-align: middle;
      align-items: center; }
      @media (max-width: 650px) {
        .cta > div > div > div {
          margin-top: 20px; } }
      .cta > div > div > div > div {
        width: 80%;
        display: flex;
        align-items: center; }
        .cta > div > div > div > div span {
          margin: 0 10px;
          align-items: center;
          color: #D1D1D1;
          bottom: 1px;
          position: relative; }

.cta button {
  text-transform: uppercase;
  background-color: #1D5FD1;
  color: white;
  padding: 5px 10px;
  border: 1px solid #1D5FD1;
  font-size: 20px;
  line-height: 27px;
  width: 80%;
  padding: 10px;
  font-family: "Gillsans", "Roboto", Helvetica, sans-serif;
  margin: 5px 0; }
  @media (max-width: 650px) {
    .cta button {
      width: 100%;
      padding: 20px; } }
  .cta button:hover {
    background-color: white;
    color: #1D5FD1;
    border: 1px solid #1D5FD1;
    transition: all 0.5s;
    cursor: pointer; }
  .cta button.pink {
    color: white;
    background-color: #FF4D89;
    border: 1px solid #FF4D89;
    transition: all 0.5s; }
    .cta button.pink:hover {
      background-color: white;
      color: #FF4D89;
      border: 1px solid #FF4D89;
      transition: all 0.5s;
      cursor: pointer; }

.cta hr {
  border: 0.5px solid #D1D1D1;
  width: 80%;
  margin: 0 auto; }
